@section MoreScripts {

    <link href="~/css/table.css" rel="stylesheet" />

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#TableA').DataTable({
                ordering: true,
                paging: true,
                searching: true
            });
        });
    </script>
}

@model DataRowCollection




@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}
<div>


    <table id="TableA" class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>File Type</th>
               
                <th>Created On</th>
                <th>Action</th>

        </thead>
        <tbody>



            @foreach (DataRow row in Model)
            {
                <tr>
                    <td>@row["Name"]</td>
                    <td>@row["FileType"]</td>
                    
                    <td>@row["CreatedOn"]</td>
                    <td>


                        <a type="submit" value="View" asp-controller="Delivery"
                           asp-action="ViewDO"
                           asp-route-id="@row["DocumentId"]">View</a>
                        <br />

                        @if (User.IsInRole("admin"))
                        {
                            <a asp-controller="Delivery"
                               asp-action="Delete"
                               asp-route-id="@row["DocumentId"]"
                               onclick="return confirm('Delete Order <@row["Name"]>')">
                                Delete

                            </a>
                        }
                    </td>


                </tr>


            }
        </tbody>



    </table>
</div>

